body {
    margin: 0;
    padding: 0;
    background-color: #5779F0;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #4AEF5A;
    justify-content: space-between;
    align-items: center;
}

h2{
    padding: 0 20px;
}

nav {
    padding: 0 20px;
    flex-grow: 2;
    display: flex;
    color: #ffffff;
    justify-content: flex-start;
}

nav a{
    padding: 20px;
    color: #000000;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    margin: 0 20px;
    background-color: #E5F1EE;
}

h3 {
    background-color: #E5F1EE;
    width: 100%;
    margin: 0;
}

section {
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    margin: 20px 20px;
}

#Title {
    display: flex;
    background-color: #D9D9D9;
    border-block-end-style: ridge;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    padding: 30px;
}

#Title h1{
    font-size: 3em;
}

#Title p{
    font-size: 1.5em;
}

.ImageHolder {
    width: 85%;
    order: 2;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.ImageHolder div {
    width: 98%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 1%;
    margin: 0;
    flex: none;
}

.ImageHolder div img{
    width: 100%;
}

.ImageHolder::-webkit-scrollbar{
    display: none;
}

.ImageHolder a{
    color: #000000;
    text-decoration: none;
}

.LeftButton {
    width: 5%;
    order: 1;
}

.RightButton {
    width: 5%;
    order: 3;
}

.LeftButton:hover {
    transform: scale(1.1);
}

.RightButton:hover {
    transform: scale(1.1);
}

p{
    padding: 0 20px;
    font-size: 1em;
}

audio{
    width: 100%;
}