body
{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: sticky;
    background-color: #00ff21;
    justify-content: space-between;
    align-items: center;
}

nav{
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
}

section{
    background-color: #ff0000;
}

#Title{
    background-color: #808080;
    border-block-end-style: ridge;
    text-align: center;
}

#Title h1{
    font-size: 2em;
}