body {
    margin: 0;
    padding: 0;
    background-color: #00ffff;
}

header{
    display: flex;
    position: sticky;
    background-color: #00ff21;
    justify-content: space-between;
    align-items: center;
}

nav{
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px 50px;
}

section{
    display: flex;
    background-color: #ff0000;
    justify-content: space-around;
}

#Title{
    background-color: #808080;
    border-block-end-style: ridge;
    text-align: center;
}

#Title h1{
    font-size: 2em;
}

.ImageHolder {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.ImageHolder div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.ImageHolder::-webkit-scrollbar{
    display: none;
}

.RightButton{

}

.LeftButton{

}

.BigImage{
    block-size: 200px;
}